@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #fafafa;
}

.detail-project h2 {
    font-family: "DM Mono", monospace;
}

.slick-slide > div {
    margin: 0 10px;
}
