@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(../../public/background.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Maven Pro", sans-serif;
    font-weight: bold;
}

.text-stroke {
    -webkit-text-stroke: 2px #f24c03;
    -webkit-text-fill-color: transparent;
}

.react-photo-album--photo {
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.link-mask {
    position: absolute;
    mask-image: url(../../public/mark-cursor.svg);
    background: #f24c03;
    mask-repeat: no-repeat;
}
